<!doctype html>
  <html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>Comments</title>
      <script src= "./scripts.js"></script>
    </head>
    <body>
      <header>
        <div class="container-fluid">
          <h1>
            <img src="#" alt="WTW Logo" />
          </h1>
          <h2>What to Wear</h2>
        </div>
        <div class="container-fluid">
          <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="navbar-brand mb-0 h1" href="home.html">Home</a></li>
              <li class="nav-item"><a class="navbar-brand mb-0 h1" href="WTW.html">WTW</a></li>
              <li class="nav-item"><a class="navbar-brand mb-0 h1" href="comment.html">Comments</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <section>
        <div class="container-fluid">
          <form>
            <div class="form-group">
              <label for="location">Location</label>
              <input id ="myInput" type="text" class="form-control" required="required"/>
              <p id="demo"></p>
              <script>
                myFunction(document.getElementById("myInput"))
              </script>
              <label for="weather">Description of Weather</label>
              <textarea class="form-control" id="textOnt" rows="2" required="required"></textarea>
              <label>First and Last Name</label>
              <div class="form-row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First Name" required="required" />
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last Name" required="required"/>
                </div>
              </div>
              <label for="textInt">Comment</label>
              <textarea class="form-control" id="textOnt" rows="4" required="required"></textarea>
            </div>
            <input type="submit" onclick ="myFunction()">
          </form>
        </div>
      </section>
    </body>
  </html>